@media only screen and (max-width: 600px) {
  main {
    overflow-x: auto;
  }
}
header {
    color: white;
    background-color: #020305;
    font-family: Verdana;
}
#date{
  color: orange;
  padding: 0%;
  margin: 0%;
}
#h1{
  font-family: "Silkscreen", sans-serif;
    color: orangered;
    justify-content: center;
    align-items: center;
    display: flex;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
    
}
input{
    width: 50%;
    border-radius: 100px;
}

img {
    border-radius: 5%;
    width: 280px;
    height: 256px;
}

main {
    background-color: #020305;
    justify-content: center;
    display: grid;
    grid-template-columns: repeat(      3, 1fr);
    overflow: hidden;
}
.movie {
  background-color: rgb(20, 20, 24);
  margin: 10px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: aliceblue;
}
.movie-extra-info {
    display: none;
  }
  
  .movie.expanded .movie-extra-info {
    display: block;
  }

  .score{
    border-radius: 10%;
    padding: 2px 5px;
  }

  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 1em;
    box-sizing: border-box;
    overflow-y: auto;
    z-index: 1000;
  }
  #modal-content {
    opacity: 90%;
    width: 50%;
    background-color: orangered;
    padding: 20px;
    border-radius: 10px;
    max-width: 80%;
    color: black;
  }
  